* {
  box-sizing: border-box;
}

header {
  background-color: #6e6e30;
  color: white;
}

p,li,dd,dt,td,figure,a {
  font-size: 20px;
}
p,li,dd,dt,td,h1,h2,h3,h4,nav,figure,a {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color : white;
  font-size: 25px;
}

main {
  background-color: #535353;
}

body {
  
  background-color: #fafdcd;
  color: white;  
}

article {
  background-color: #a6a642;
}

footer {
  background-color: #6e6e30;
  color: white;
}
