* {
  box-sizing: border-box;
}

p,li,dd,dt,td,figure,a {
  font-size: 20px;
}
p,li,dd,dt,td,h1,h2,h3,h4,nav,figure,a {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color : white;
  font-size: 25px;
}

h2.special {
    color:  #2C2CE8;
    font-family: "Sofia", sans-serif;
}